# Python/Django
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/

.env
.env.local
.env.production

*.sqlite3
db.sqlite3

.venv/
venv/
env/

*.log
*.pot

.coverage
htmlcov/
.pytest_cache/

staticfiles/
mediafiles/

# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.idea/
.vscode/
*.iml
